<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is the title!</title>
  </head>
  <body>

  <ul>
      {% for a in all_movies %}
      <li>

          <a href ="/movies/{{a.id}}/"> {{a.actor}}

          </a>

      </li>
      {% endfor %}
  </ul>

  </body>
</html>

